<header id="header" class="bg-white sticky top-0">
    <div
        class="px-3 mx-auto max-w-[1440px] h-[70px] flex justify-between items-center"
    >
        <ul class="uppercase flex gap-6 text-[14px]">
            <li class="font-medium">
                <a href="/" onclick="route()">Women</a>
            </li>
            <li class="font-light">
                <a href="/" onclick="route()">Plus</a>
            </li>
            <li class="font-light">
                <a href="/" onclick="route()">Men</a>
            </li>
            <li class="font-light">
                <a href="/" onclick="route()">Accessories</a>
            </li>
        </ul>
        <img src="./assets/svg/Logo.svg" alt="My Happy SVG" />
        <div class="flex gap-5 items-center">
            <a
                href="/"
                onclick="route()"
                class="p-1.5 hover:bg-primary rounded-full transition-colors duration-75"
                ><img src="./assets/svg/bx_bx-user.svg"
            /></a>
            <a
                href="/"
                onclick="route()"
                class="p-1.5 hover:bg-primary rounded-full transition-colors duration-75"
            >
                <img src="./assets/svg/bx_bx-shopping-bag.svg" />
            </a>
            <a
                href="/"
                onclick="route()"
                class="p-1.5 hover:bg-primary rounded-full transition-colors duration-75"
            >
                <img src="./assets/svg/bx_bx-heart.svg" />
            </a>
            <a
                href="/"
                onclick="route()"
                class="p-1.5 hover:bg-primary rounded-full transition-colors duration-75"
            >
                <img src="./assets/svg/bx_bx-support.svg" />
            </a>
            <a
                href="/"
                onclick="route()"
                class="p-1.5 hover:bg-primary rounded-full transition-colors duration-75"
            >
                <img src="./assets/svg/bx_bx-search.svg" />
            </a>
            <div
                class="flex space-x-2 border rounded-full px-1.5 py-1 cursor-pointer hover:bg-secondary transition-colors duration-75"
            >
                <img class="" src="./assets/svg/us_flag.svg" />
                <div class="uppercase font-light">usd $</div>
                <img src="./assets/svg/ant-design_down-outlined.svg" />
            </div>
        </div>
    </div>
</header>
