<div id="cart-dropdown-card" onclick="goTo('/cart')" class="flex gap-5 py-3 cursor-pointer">
    <img id="item-image" class="w-20 h-28 object-cover bg-secondary"></img>
    <div class="text-sm space-y-2">
        <div>
            <div id="item-title" class="font-medium"></div>
            <p id="item-category" class="font-light"></p>
        </div>
        <div class="font-light">
            <div id="item-size"></div>
            <p id="item-color"></p>
            <p id="item-qty"></p>
        </div>
        <div class="font-medium text-sm" id="item-price"></div>
    </div>
</div>
