<div id="product-card" class="w-[225px] space-y-1.5 grid cursor-pointer group">
    <img
        id="product-image"
        class="w-full h-[300px] object-cover object-centerbg-secondary group-hover:shadow-md"
    />
    <label id="product-title" class="text-sm font-light text-black"></label>
    <div class="flex gap-5 w-[225px] justify-between">
        <div class="flex gap-5">
            <div
                id="product-price-1"
                class="text-[#C1272D] text-[14px] font-[800]"
            ></div>
            <div
                id="product-price-2"
                class="text-[14px] font-[600] line-through"
            ></div>
        </div>
        <div id="product-extra"></div>
    </div>
</div>
